.projects-wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
}

.projects-article {
	width: 90%;
	margin: 50px auto !important;
	text-align: center;
	background: rgba(0,0,0,.8);
}

.projects-h2 {
	width: 5.2em;
	margin: 0 auto 2em;
	padding: .3em;
	background-color: rgba(0,0,0,.8);
	border: 1px solid white;
}

.projects-h3 {
	margin: 1em 0;
	font-size: 1.5em;
}

.projects-p {
	width: 100%;
	margin: 1em auto 2rem !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
}

.projects-p-div {
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
}

.projects-a {
	font-size: 1rem !important;
	font-weight: 600;
	width: 100%;
	margin: 0 .4em;
	word-wrap: break-word;
}

.projects-article {
    padding: 1.5em;
    margin: 30px auto 0;
    color: #c89373;
    --aug-inset: 10px;
    --aug-inset-bg: #030203;
    --aug-border: 1px;
    --aug-border-bg: #c89373;
    --aug-bl: 75px;
    --aug-br: 5px;
    --aug-r-height: 210px;
    --aug-r-offset: -30px;
    --aug-r-width: 10px;
}