.skills-wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
}

.skills-div {
	display: grid;
	grid-template-rows: 33% 30% 37%;
	margin: 2.5em 0;
	justify-self: center;
	max-width: 35vw;
	max-height: 48vh;
	min-width: 35vw;
	min-height: 31.8vh;
    color: #c89373;
    --aug-inset: 10px;
    --aug-inset-bg: #030203;
    --aug-border: 1px;
    --aug-border-bg: #c89373;
    --aug-bl: 75px;
    --aug-br: 5px;
    --aug-r-height: 210px;
    --aug-r-offset: -30px;
    --aug-r-width: 10px;
}

.skills-h2 {
	border: 1px solid white;
	width: 5em;
	margin: 0 auto 1.5em;
	padding: .3em;
	background: rgba(0,0,0,.8)
}

.skills-h3 {
	margin-top: 1.5em;
	font-size: 1.8em;
	justify-self: center;
}

.skill-comfort-levels {
	margin-top: 1.5em;
	font-size: 1.8em;
	justify-self: center;
	display: none;
}

.skills-h4 {
	display: inline-block;
	font-size: 1em;
	color: whitesmoke;
}

.skills-p {
	font-size: 1.2em;
	width: 65%;
	padding: 0 auto;
	word-break: break-word;
	justify-self: center;
}

.skills-icon {
	height: 55px;
	width: 55px;
}

.graph-wrapper {
	width: 75%;
	justify-self: center;
	text-align: left;
	visibility: hidden;
}

.skills-div:hover {
	grid-template-rows: 20% 80%;
	max-width: 35vw;
	max-height: 50vh;
	min-width: 35vw;
	min-height: 31.8vh;
}

.skills-div:hover .skills-h3 {
	display: none;
}

.skills-div:hover .skill-comfort-levels {
	display: block
}

.skills-div:hover .skills-p {
	display: none;
}

.skills-div:hover .skill-icons-div {
	display: none;
}

.skills-div:hover .skills-icon {
	display: none;
}

.skills-div:hover .graph-wrapper {
	display: inline-block;
	visibility: visible;
}

.line {
	width: 100%;
	position: relative;
}

.skills-div:hover .line::before {
	content: '';
	width: 100%;
	height: 1.8em;
	position: absolute;
	z-index: -1;
	background-color: grey;
}

.skills-div:hover .line::after {
	content: '';
	width: 100%;
	height: 1.8em;
	position: absolute;
	z-index: 1;
	background: red;
	animation: animate 1 3s;
}

@keyframes animate {
	0% {
		width: 0;
	}
	100% {
		width: 100;
	}
}

.skills-div:hover .line-100:after {
	width: 100%;
}

.skills-div:hover .line-80:after {
	width: 85%;
}

.skills-div:hover .line-60:after {
	width: 70%;
}