#contact {
	padding-top: 150px;
	padding-bottom: 300px;
}

.social-links {
	max-width: 650px;
	margin: 0 auto;
	border: 2px solid white;
	border-radius: 10px;
	background-color: rgba(0,0,0,.7)
}

.social-links a {
	font-size: 2rem;
	padding: 1rem;
	margin-bottom: 2rem;
	display: inline-block;
	color: whitesmoke;
}

.social-section-wrapper {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	justify-content: center;
}

.social-p {
	font-size: .7em;
}